<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linecorp.linesdk.unitywrapper">

    <application>
        <activity
            android:name="com.linecorp.linesdk.unitywrapper.activity.LineSdkWrapperActivity"
            android:configChanges="orientation|keyboard|screenSize|smallestScreenSize|screenLayout"
            android:theme="@style/TransparentStyle" />
    </application>

</manifest>
